<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Links.ejs") -%>
</head>
<body>
    <%- include("Navbar.ejs") -%>
    <div class="container">
    <div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Biling details</h5>
      </div>
      <div class="card-body">
        <form action="/user/payment" method="post">
         
          <div class="row mb-4">
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="form7Example1" class="form-control" name="FirstName" required />
                <label class="form-label" for="form7Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div data-mdb-input-init class="form-outline">
                <input type="text" id="form7Example2" class="form-control" name="LastName" required/>
                <label class="form-label" for="form7Example2">Last name</label>
              </div>
            </div>
          </div>

         
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form7Example3" class="form-control" name="State" required/>
            <label class="form-label" for="form7Example3">State</label>
          </div>

         
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" name="Address" required/>
            <label class="form-label" for="form7Example4">Address</label>
          </div>

          
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form7Example5" class="form-control"required name="Email" />
            <label class="form-label" for="form7Example5">Email</label>
          </div>

          
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="form7Example6" class="form-control" name="Phone" required/>
            <label class="form-label" for="form7Example6">Phone</label>
          </div>

          
          <div data-mdb-input-init class="form-outline mb-4">
            <textarea class="form-control" id="form7Example7" rows="4" name="Addinfo"></textarea>
            <label class="form-label" for="form7Example7">Additional information</label>
          </div>

      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Summary</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Amount
            <span><%- total %>₹</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            GST 5%
            <span><span class="text-success">+</span><% Gst = total/100*5 %><%- Gst %>₹</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            Discount 15%
            <span><% dis = (parseInt(total)+parseInt(Gst))/100*15  %> <span class="text-danger">-</span><%- dis %>₹</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
            <div>
              <strong>Total amount</strong>
              <strong>
                <p class="mb-0">(including VAT)</p>
              </strong>
            </div>
            <span><strong><%- ((parseInt(total)+parseInt(Gst))-parseInt(dis)) %>₹</strong></span>
            <input type="hidden" value="<%- ((parseInt(total)+parseInt(Gst))-parseInt(dis)) %>" name="total">
          </li>
        </ul>
        
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
              Make purchase
            </button>
      </div>
    </div>
  </div>
</form>
</div>
    </div>
</body>
</html>