<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("Links.ejs") -%>
  </head>
  <body>
    <%- include("Navbar.ejs") -%>

    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <form action="/user/update" method="post">
            <h3 class="text-center my-5">Update Profile details</h3>
            <label class="my-3">Username</label>
            <input type="text" class="form-control" value="<%- result.Username %>" name="Username"/>
            <label class="my-3">Email</label>
            <input type="Email" class="form-control"  value="<%- result.Email %>" name="Email"/>
            <label class="my-3">Password</label>
            <input type="Password" class="form-control"  value="<%- result.Password %>" name="Password"/>

            <div class="text-center my-3">
                <input type="submit" class="btn btn-success" value="Update">
            </div>
          </form>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </body>
</html>
