<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../Users/Links.ejs") -%>
</head>
<body>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-3">
                <%- include("SideBar.ejs") -%>
            </div>
            <div class="col-sm-9">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% result.forEach((data,index)=>{ %>
                            <tr>
                                <td><%- index+1 %></td>
                                <td><%- data.Username %></td>
                                <td><%- data.Email %></td>
                            </tr>
                       <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>